.times_container {
    width: fit-content;
    border-radius: 7px;
}

.times {
    list-style: none;
    border-radius: 7px;
    cursor: pointer;
}

.times-light:not(.no_hover):not(.active):hover {
    background-color: rgba(239, 244, 248, 0.8);
}

.times-dark:not(.no_hover):not(.active):hover {
    background-color: rgba(54, 70, 85, 0.8);
}

.active {
    color: #fcfcfc;
    background-color: #dc3545;
}
